{% if fmap_status %}
{% if get_map_code %}
<div class="modal-header no-gutters">
	<div class="col-auto">
		<svg class="d-block ft-icon-24 my-0 mr-3 text-gray-500" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
			<path d="M20.5 3l-.16.03L15 5.1 9 3 3.36 4.9c-.21.07-.36.25-.36.48V20.5c0 .28.22.5.5.5l.16-.03L9 18.9l6 2.1 5.64-1.9c.21-.07.36-.25.36-.48V3.5c0-.28-.22-.5-.5-.5zM15 19l-6-2.11V5l6 2.11V19z"/>
		</svg>
	</div>
	<div class="col">
		<div class="h5 modal-title">{{ text_title }}</div>
	</div>
	<div class="col-auto">
		<a href="#" class="d-block ml-2" data-dismiss="modal">
			<svg class="d-block ft-icon-24 m-0 text-gray-500 darker-on-hover" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
				<path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
			</svg>
		</a>
	</div>
</div>
<div class="modal-body position-relative">
  <div class="modal-load-mask text-muted d-flex justify-content-center align-items-center h-100 w-100">
  	<div class="spinner-border text-gray-300"></div>
  </div>
  <div class="code-container position-absolute t-0 b-0 r-0 l-0">
    {{ fmap_code }}
  </div>
</div>
{% if geocode %}
<div class="modal-footer">
	<a href="{{ geocode }}" class="btn btn-primary pr-4 pl-3">
		<div class="row no-gutters align-items-center">
			<div class="col-auto">
				<svg class="d-block ft-icon-24 mr-2 " viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
					<path d="M0 0h24v24H0z" fill="none"/><path d="M12 2L4.5 20.29l.71.71L12 18l6.79 3 .71-.71z"/>
				</svg>
			</div>
			<div class="col-auto">
				{{ text_app }}
			</div>
		</div>
	</a>
</div>
{% endif %}
{% else %}
<div class="mb-n5 pb-1">
	<div class="container position-relative">
		<div class="pb-4">
      <div class="mb-3 position-relative">
        <div class="position-relative">
          <svg class="d-block img-fluid" width="1120" height="84" xmlns="http://www.w3.org/2000/svg"></svg>
          <img class="d-block position-absolute t-0 l-0 img-fluid w-100 ft-lazy-img" src="{{ map_bg_src_holder }}" data-src="{{ map_bg }}" alt="Map">
        </div>
      </div>
		</div>
    <div class="position-absolute l-50p b-0 ml-n4">
      <div class="rounded-circle border shadow-lg ml-n1">
    		<div class="position-relative rounded-circle p-2 bg-white z-index-2">
    			<button type="button" class="btn btn-danger p-2 rounded-circle" title="{{ text_show_map }}" onclick="show_fmap();">
    				<svg class="d-block ft-icon-18 m-0 text-white" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    					<path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/>
    				</svg>
    			</button>
    		</div>
    	</div>
    </div>
	</div>
</div>
<script>
  var show_fmap = function() {
    $.ajax({
  		url: 'index.php?route=extension/module/framefreetheme/ff_fmap&get_map_code=1',
  		type: 'get',
  		dataType: 'html',
  		beforeSend: function() {

        $('#ff_fmap, .modal-backdrop').remove();

        html  = '<div id="ff_fmap" class="modal fade p-0 m-0" tabindex="-1" role="dialog">';
        html += '  <div class="modal-dialog modal-dialog-centered w-100 mw-100 mh-100 h-100 p-2 p-lg-5 m-0" role="document">';
        html += '    <div class="modal-content mw-100 mh-100 h-100 p-0 m-0 overflow-hidden">';
        html += '      <div class="modal-load-mask text-muted d-flex justify-content-center align-items-center h-100 w-100">';
  			html += '					<div class="spinner-border text-gray-300"></div>';
  			html += '    	 </div>';
        html += '    </div>';
        html += '  </div>';
        html += '</div>';

        $('body').append(html);
				if (typeof add_modal_listner == 'function') add_modal_listner('#ff_fmap', 'map');
        $('#ff_fmap').modal('show');

  		},
  		success: function(data) {
  			$('#ff_fmap .modal-content').html(data);
  		},
  		error: function(xhr, ajaxOptions, thrownError) {
  			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
  		}
  	});
  }
</script>
{% endif %}
{% endif %}
