{{ header }}
<div id="account-tracking" class="container">

  <div class="row">
		{% if column_left %}
		<div class="col-12 col-sm col-lg-3 order-lg-1 col-aside">
			{{ column_left }}
		</div>
		{% endif %}

		{% if column_right %}
		<div class="col-12 col-sm col-lg-3 order-lg-3 col-aside">
			{{ column_right }}
		</div>
		{% endif %}
    <div id="content" class="col-12 col-lg order-lg-2 mb-3">
			{{ content_top }}
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb p-0 mb-3 bg-transparent" itemscope itemtype="http://schema.org/BreadcrumbList">
          {% for breadcrumb in breadcrumbs %}
          {% if loop.index == 1 %}
          <li class="breadcrumb-item p-0" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a class="text-dark" href="{{ breadcrumb.href }}"  itemprop="item">
              <meta itemprop="name" content="{{ g_text_home }}" />
            	<svg class="ft-icon-18 d-block" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            		<path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/>
            	</svg>
            </a>
            <meta itemprop="position" content="{{ loop.index }}" />
          </li>
          {% elseif breadcrumbs|length != loop.index %}
          <li class="breadcrumb-item p-0" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a class="text-dark" href="{{ breadcrumb.href }}" itemprop="item">
              <span itemprop="name">{{ breadcrumb.text }}</span>
            </a>
            <meta itemprop="position" content="{{ loop.index }}" />
          </li>
          {% else %}
          <li class="breadcrumb-item p-0 active">
            <span>{{ breadcrumb.text }}</span>
          </li>
          {% endif %}
          {% endfor %}
        </ol>
      </nav>
      <h1 class="h2 mb-4">{{ heading_title }}</h1>


      <p>{{ text_description }}</p>

      <form class="form-horizontal">
        <div class="form-group">
          <label for="input-code">{{ entry_code }}</label>
          <textarea rows="2" placeholder="{{ entry_code }}" id="input-code" class="form-control">{{ code }}</textarea>
        </div>
        <div class="form-group">
          <label for="input-generator"><span data-toggle="tooltip" title="{{ help_generator }}">{{ entry_generator }}</span></label>
          <input type="text" name="product" value="" placeholder="{{ entry_generator }}" id="input-generator" class="form-control" />
        </div>
        <div class="form-group">
          <label for="input-link">{{ entry_link }}</label>
          <textarea name="link" rows="3" placeholder="{{ entry_link }}" id="input-link" class="form-control"></textarea>
        </div>
      </form>

      <div class=""><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>

    </div>
  </div>
	{{ content_bottom }}
</div>
<script>
$('input[name=\'product\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=account/tracking/autocomplete&filter_name=' +  encodeURIComponent(request) + '&tracking=' + encodeURIComponent($('#input-code').val()),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['link']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'product\']').val(item['label']);
		$('textarea[name=\'link\']').val(item['value']);
	}
});
</script>
{{ footer }}
