<div class="simplecheckout-block" id="simplecheckout_customer" {{ hide ? 'data-hide="true"' : '' }} {{ display_error and has_error ? 'data-error="true"' : '' }}>
  <div class="card mb-4">
    {% if display_header or display_login %}
    <div class="checkout-heading card-header px-3">
      <div class="row no-gutters align-items-center">
        <div class="col-auto">
          <svg class="d-block ft-icon-24 m-0 text-gray-500 mr-3" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zM7.07 18.28c.43-.9 3.05-1.78 4.93-1.78s4.51.88 4.93 1.78C15.57 19.36 13.86 20 12 20s-3.57-.64-4.93-1.72zm11.29-1.45c-1.43-1.74-4.9-2.33-6.36-2.33s-4.93.59-6.36 2.33C4.62 15.49 4 13.82 4 12c0-4.41 3.59-8 8-8s8 3.59 8 8c0 1.82-.62 3.49-1.64 4.83zM12 6c-1.94 0-3.5 1.56-3.5 3.5S10.06 13 12 13s3.5-1.56 3.5-3.5S13.94 6 12 6zm0 5c-.83 0-1.5-.67-1.5-1.5S11.17 8 12 8s1.5.67 1.5 1.5S12.83 11 12 11z"></path>
          </svg>
        </div>
        <div class="col">
          <div class="h5 m-0">
            {{ text_checkout_customer }}
          </div>
        </div>
        {% if display_login %}
        <div class="checkout-heading-button col-auto">
          <a class="text-secondary text-decoration-none" href="javascript:void(0)" data-onclick="openLoginBox">{{ text_checkout_customer_login }}</a>
        </div>
        {% endif %}
      </div>
    </div>
    {% endif %}
    <div class="simplecheckout-block-content card-body pb-2 pt-4 px-4">
      {% if display_registered %}
        <div class="alert alert-success border-top-0 border-left-0 border-right-0 rounded-0 mx-n4 mt-n4 px-4">
          {{ text_account_created }}
        </div>
      {% endif %}
      {% if display_you_will_registered %}
        <div class="you-will-be-registered">{{ text_you_will_be_registered }}</div>
      {% endif %}
      {% for row in rows %}
        {{ row }}
      {% endfor %}
    </div>
  </div>
</div>
