<div class="btn-group">
	<a class="btn btn-light dropdown-toggle p-1 px-sm-2" href="#" title="{{ text_blog }}" data-toggle="dropdown">
		<span class="row no-gutters align-items-start">
			<span class="col-auto mx-2 mx-lg-0">
				<svg class="d-block ft-icon-18 text-gray-500 darker-on-hover" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" >
					<path d="M 2 3 L 2 18 C 2 19.64497 3.3550302 21 5 21 L 19 21 C 20.64497 21 22 19.64497 22 18 L 22 7 L 20 7 L 20 18 C 20 18.56503 19.56503 19 19 19 C 18.43497 19 18 18.56503 18 18 L 18 3 L 2 3 z M 4 5 L 16 5 L 16 18 C 16 18.388348 16.278986 18.657986 16.416016 19 L 5 19 C 4.4349698 19 4 18.56503 4 18 L 4 5 z M 6 7 L 6 10 L 14 10 L 14 7 L 6 7 z M 6 12 L 6 14 L 14 14 L 14 12 L 6 12 z M 6 16 L 6 18 L 14 18 L 14 16 L 6 16 z"/>
				</svg>
			</span>
			<span class="col-auto d-none d-lg-block ml-2 mr-1">
				{{ text_blog }}
			</span>
			<span class="col-auto d-none d-lg-block">
				<svg class="d-block ft-icon-24 text-gray-500 darker-on-hover" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" >
					<path transform="translate(0 2)" d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
				</svg>
			</span>
		</span>
	</a>
	<div class="dropdown-menu dropdown-menu-right">
		{% for category in categories %}
		<a class="dropdown-item" href="{{ category.href }}">{{ category.name }}</a>
		{% if category.children %}
		{% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
		{% for child in children %}
		<a class="dropdown-item" href="{{ child.href }}">
			<span class="ft-icon text-gray-400 darker-on-hover">&#8627;&nbsp;</span>
			{{ child.name }}
		</a>
		{% endfor %}
		{% endfor %}
		{% endif %}
		{% endfor %}
		<div class="dropdown-divider"></div>
		<a class="dropdown-item see-all" href="{{ blog }}">{{ text_all }} {{ text_blog }}</a>
	</div>
</div>
