<div class="">
  <div class="">
    <h6 class=""><a class="text-dark" href="#collapse-voucher" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ heading_title }}</a></h6>
  </div>
  <div id="collapse-voucher" class="collapse">
    <div class="pb-2">
      <!-- <label for="input-voucher">{{ entry_voucher }}</label> -->
      <div class="input-group">
        <input type="text" name="voucher" value="{{ voucher }}" placeholder="{{ entry_voucher }}" id="input-voucher" class="form-control" />
        <div class="input-group-append">
					<button type="submit" id="button-voucher" data-loading-text="{{ text_loading }}"  class="btn btn-primary" title="{{ button_voucher }}">

							<svg class="d-block ft-icon-18 m-0" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
								<path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/>
							</svg>

					</button>
        </div>
			</div>
      <script type="text/javascript"><!--
$('#button-voucher').on('click', function() {
	$.ajax({
		url: 'index.php?route=extension/total/voucher/voucher',
		type: 'post',
		data: 'voucher=' + encodeURIComponent($('input[name=\'voucher\']').val()),
		dataType: 'json',
		beforeSend: function() {
			$('#button-voucher').button('loading');
		},
		complete: function() {
			$('#button-voucher').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible').remove();

			if (json['error']) {
				$('.breadcrumb').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

				$('html, body').animate({ scrollTop: 0 }, 'slow');
			}

			if (json['redirect']) {
				location = json['redirect'];
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});
//--></script>
    </div>
  </div>
</div>
