{{ header }}
<div id="simple-checkout"  class="container">

  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}

  <div class="row">
    {% if column_left %}
    <div class="col-12 col-sm col-lg-3 order-lg-1 col-aside">
      {{ column_left }}
    </div>
    {% endif %}
    {% if column_right %}
    <div class="col-12 col-sm col-lg-3 order-lg-3 col-aside">
      {{ column_right }}
    </div>
    {% endif %}
    <div id="content" class="col-12 col-lg order-lg-2 mb-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb p-0 mb-3 bg-transparent" itemscope itemtype="http://schema.org/BreadcrumbList">
          {% for breadcrumb in breadcrumbs %}
          {% if loop.index == 1 %}
          <li class="breadcrumb-item p-0" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a class="text-dark" href="{{ breadcrumb.href }}"  itemprop="item">
              <meta itemprop="name" content="{{ g_text_home }}" />
              <svg class="ft-icon-18 d-block" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/>
              </svg>
            </a>
            <meta itemprop="position" content="{{ loop.index }}" />
          </li>
          {% elseif breadcrumbs|length != loop.index %}
          <li class="breadcrumb-item p-0" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a class="text-dark" href="{{ breadcrumb.href }}" itemprop="item">
              <span itemprop="name">{{ breadcrumb.text }}</span>
            </a>
            <meta itemprop="position" content="{{ loop.index }}" />
          </li>
          {% else %}
          <li class="breadcrumb-item p-0 active">
            <span>{{ breadcrumb.text }}</span>
          </li>
          {% endif %}
          {% endfor %}
        </ol>
      </nav>
      {{ content_top }}
      <h1 class="h2 mb-4">{{ heading_title }}</h1>
