<div id="scale-{{ option.option_id }}" class="scale ocf-target"
  data-option-id="{{ option.option_id }}"
  data-start-min="{{ option.slide_value_min_get }}"
  data-start-max="{{ option.slide_value_max_get }}"
  data-range-min="{{ option.slide_value_min }}"
  data-range-max="{{ option.slide_value_max }}"
  data-element-min="#left-value-{{ option.option_id }}"
  data-element-max="#right-value-{{ option.option_id }}"
></div>
