<div class="news-wall mb-4">
  <div class="h5 pt-2 mb-3 ml-1">{{ heading_title }}</div>
  <div class="m-n1 m-sm-n2">
    <div class="row no-gutters row-cols-2 row-cols-lg-4 row-cols-xxl-5">
      {% for article in articles %}
      <div class="col">
        <div class="article-item border rounded bg-white overflow-hidden m-1 m-sm-2 d-flex flex-column">
          <a href="{{ article.href }}" class="d-block position-relative">
            <svg class="d-block img-fluid w-100" width="{{ article.img_width }}" height="{{ article.img_height }}" xmlns="http://www.w3.org/2000/svg"></svg>
            <img src="{{ article.thumb }}" {% if article.thumb2x %}srcset="{{ article.thumb }} 1x, {{ article.thumb2x }} 2x, {{ article.thumb3x }} 3x, {{ article.thumb4x }} 4x"{% endif %} alt="{{ article.name }}" title="{{ article.name }}" class="position-absolute t-0 l-0 img-fluid w-100 d-block">
          </a>
          <div class="px-3 px-sm-3 pt-3">
            <div class="article-name h6 {% if review_status %}mb-2{% else %}mb-0{% endif %}">
              <a href="{{ article.href }}" class="text-dark  font-weight-normal line-clamp-3">{{ article.name }}</a>
            </div>
            {% if review_status %}
            <div class="d-flex mb-3">
              {% for i in 1..5 %}
              {% if article.rating < i %}
              <svg class="d-block ft-icon-18 text-gray-400 m-0" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"/>
              </svg>
              {% else %}
              <svg class="d-block ft-icon-18 text-warning m-0" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
              </svg>
              {% endif %}
              {% endfor %}
            </div>
            {% endif %}
          </div>
          <div class="px-3 pb-3 mt-auto">
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <span class="badge d-block badge-light px-1 py-0 mr-2 cursor-pointer" title="{{ article.description }}" onclick="location.href = ('{{ article.href }}')">
                  <svg class="d-block ft-icon-18 m-0 text-gray-500" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 18h12v-2H3v2zM3 6v2h18V6H3zm0 7h18v-2H3v2z"/>
                  </svg>
               </span>
              </div>
              <div class="col-auto">
                <span class="badge d-block badge-light py-0 pl-1 pr-2" title="{{ text_views }} {{ article.viewed }}">
                  <span class="row no-gutters align-items-center">
                    <span class="col-auto">
                      <svg class="d-block ft-icon-18 m-0 text-gray-500" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 6.5c3.79 0 7.17 2.13 8.82 5.5-1.65 3.37-5.02 5.5-8.82 5.5S4.83 15.37 3.18 12C4.83 8.63 8.21 6.5 12 6.5m0-2C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zm0 5c1.38 0 2.5 1.12 2.5 2.5s-1.12 2.5-2.5 2.5-2.5-1.12-2.5-2.5 1.12-2.5 2.5-2.5m0-2c-2.48 0-4.5 2.02-4.5 4.5s2.02 4.5 4.5 4.5 4.5-2.02 4.5-4.5-2.02-4.5-4.5-4.5z"/>
                      </svg>
                    </span>
                    <span class="col-auto font-weight-normal text-secondary">
                      <span class="d-block ml-1">{{ article.viewed }}</span>
                    </span>
                  </span>
               </span>
              </div>
              <div class="col text-right">
                <small class="d-block text-secondary">{{ article.date_added }}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
