{{ header }}{{ column_left }}
<div id="content">

	<div class="page-header">
    <div class="container-fluid">
      <div class="row no-gutters">
        <div class="col-xs-8 col-lg-10">
          <ul class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
            {% if loop.first %}
            <li><a href="{{ breadcrumb.href }}"><i class="fa fa-fw fa-home" title="{{ breadcrumb.text }}"></i></a> &nbsp;/&nbsp; </li>
            {% elseif loop.last %}

            {% elseif loop.revindex == 2 %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a> &nbsp;/&nbsp; </li>
            {% else %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a> &nbsp;/&nbsp; </li>
            {% endif %}
            {% endfor %}
          </ul>
          <h1>{{ heading_title }}</h1>
        </div>
        <div class="col-xs-4 col-lg-2">
          <div class="control-btns text-right mb-3">
            {% if apply_button %}
    				<button type="button" onclick="apply()" data-toggle="tooltip" title="{{ button_apply }}" class="btn btn-success mb-1">
    					<span class="l-icon">
                <svg class="show" fill="currentColor" width="18" height="18" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path>
                    <animate attributeName="d" calcMode="discrete" dur="1.25s" repeatCount="indefinite" values="M6,2l0.01,6L10,12l-3.99,4.01L6,22h12v-6l-4-4l4-3.99V2H6z M16,16.5V20H8v-3.5l4-4L16,16.5z;M6 2v6h.01L6 8.01 10 12l-4 4 .01.01H6V22h12v-5.99h-.01L18 16l-4-4 4-3.99-.01-.01H18V2H6zm10 11v4H8l4-4 4 4zm-4-2L8 7V4h8v3H8z;M18,22l-0.01-6L14,12l3.99-4.01L18,2H6v6l4,4l-4,3.99V22H18z M8,7.5V4h8v3.5l-4,4L8,7.5z;M18,22l-0.01-6L14,12l3.99-4.01L18,2H6v6l4,4l-4,3.99V22H18z M8,7.5V4h8v3.5l-4,4L8,7.5z"/>
                    <animateTransform attributeName="transform" type="rotate" dur="1.25s" repeatCount="indefinite" values="0 12 12;0 12 12;0 12 12;0 12 12;180 12 12"/>
                  </path>
                </svg>
              </span>
    					<span class="s-icon">
                <svg class="show" fill="currentColor" width="18" height="18" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17z"/>
                </svg>
              </span>
    				</button>
    				{% endif %}
            <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary mb-1">
              <svg class="show" fill="currentColor" width="18" height="18" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              	<path d="M17 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V7l-4-4zm2 16H5V5h11.17L19 7.83V19zm-7-7c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3zM6 6h9v4H6z"/>
              </svg>
            </button>
            <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-danger mb-1">
              <svg class="show" fill="currentColor" width="18" height="18" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              	<path d="M18.4 10.6C16.55 8.99 14.15 8 11.5 8c-4.65 0-8.58 3.03-9.96 7.22L3.9 16c1.05-3.19 4.05-5.5 7.6-5.5 1.95 0 3.73.72 5.12 1.88L13 16h9V7l-3.6 3.6z"/>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default ">
      <div class="panel-heading">
        <h4 class="panel-title">{{ text_edit }}</h4>
      </div>
      <div class="panel-body">
				{% if not is_blog %}
				<div class="alert alert-info text-center" style="margin:0">
					<br><br><br>{{ ocstore_alert }}<br><br><br>
				</div>
				{% endif %}
        <form {% if not is_blog %}class="hidden"{% endif %} action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">

					<h4 class="block-header">
            <svg class="icon-24" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            	<path d="M3 17v2h6v-2H3zM3 5v2h10V5H3zm10 16v-2h8v-2h-8v-2h-2v6h2zM7 9v2H3v2h4v2h2V9H7zm14 4v-2H11v2h10zm-6-4h2V7h4V5h-4V3h-2v6z"/>
            </svg>
            {{ text_settings }}
          </h4>

					<div class="form-group {% if error_name %} has-error {% endif %}">
            <label class="col-sm-3 control-label" for="input-name">{{ entry_name }}</label>
            <div class="col-sm-9">
              <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
              {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
          </div>
					<hr>
					<div class="form-group">
						<label class="col-sm-3 control-label">{{ entry_status }}</label>
						<div class="col-sm-9">
							<div class="btn-group" data-toggle="buttons">
								<label class="btn btn-default {% if not status %} active {% endif %}">
									<input type="radio" name="status" value="0" {% if not status %} checked {% endif %}>
									<span class="on-off">{{ text_disabled }}</span>
								</label>
								<label class="btn btn-default {% if status %} active {% endif %}">
									<input type="radio" name="status" value="1" {% if status %} checked {% endif %}>
									<span class="on-off">{{ text_enabled }}</span>
								</label>
							</div>
						</div>
					</div>
					<hr>
					<div class="form-group">
						<label class="col-sm-3 control-label">{{ entry_title }}</label>
						<div class="col-sm-9">
							{% for language in languages %}
							<div class="input-group">
								<span class="input-group-addon">
									<img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" />
								</span>
								<input name="title[{{ language.language_id }}]" value="{{ title[language.language_id] }}" class="form-control" />
							</div>
							{% endfor %}
						</div>
					</div>
					<hr>
					<div class="form-group">
						<label class="col-sm-3 control-label">{{ entry_module_type }}</label>
						<div class="col-sm-9">
							<div data-toggle="buttons">
								<label class="btn btn-default mb-2 {% if module_type == 'latest' %} active {% endif %}">
									<input type="radio" name="module_type" value="latest" {% if module_type == 'latest' %} checked {% endif %}>
									<span>{{ entry_latest }}</span>
								</label>
								<label class="btn btn-default mb-2 {% if module_type == 'featured' %} active {% endif %}">
									<input type="radio" name="module_type" value="featured" {% if module_type == 'featured' %} checked {% endif %}>
									<span>{{ entry_featured }}</span>
								</label>
							</div>
						</div>
					</div>


					<div id="featured-articles" class="collapse fade {% if module_type == 'featured' %}in{% endif %}">
	          <div class="form-group">
	            <label class="col-sm-3 control-label" for="input-article"></label>
	            <div class="col-sm-9">
	              <input type="text" name="article_name" value="" placeholder="{{ entry_article }}" id="input-article" class="form-control" />
	              <div id="blog_featured-article" class="well well-sm well-autocomplite">
	                {% for article in articles %}
	                <div id="blog_featured-article{{ article.article_id }}">
										<svg class="text-danger" width="14" height="14" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M7 11v2h10v-2H7zm5-9C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/></svg>
										{{ article.name }}
										<hr>
	                  <input type="hidden" name="article[]" value="{{ article.article_id }}" />
	                </div>
	                {% endfor %}
	              </div>
	            </div>
	          </div>
						<script>
							$('[name=module_type]').parent().click(function () {
								setTimeout( () => {
									if ($('[value=featured]').prop('checked')) {
										$('#featured-articles').collapse('show');
									} else {
										$('#featured-articles').collapse('hide');
									}
								}, 100)
							})
						</script>
					</div>
					<hr>
					<div class="form-group">
            <label class="col-sm-3 control-label" for="input-limit">{{ entry_limit }}</label>
            <div class="col-sm-9 form-inline">
              <input type="number" name="limit" value="{{ limit }}" placeholder="{{ entry_limit }}" id="input-limit" class="form-control" />
            </div>
          </div>
					<hr>
					<div class="form-group {% if error_width or error_height %} has-error {% endif %}">
            <label class="col-sm-3 control-label" for="input-width">{{ entry_img_size }}</label>
            <div class="col-sm-9  form-inline">
              <input type="number" name="width" value="{{ width }}" placeholder="{{ entry_width }}" id="input-width" class="form-control" /> x
							<input type="number" name="height" value="{{ height }}" placeholder="{{ entry_height }}" id="input-height" class="form-control" /> px
              {% if error_width %}
              <div class="text-danger">{{ error_width }}</div>
              {% endif %}
							{% if error_height %}
              <div class="text-danger">{{ error_height }}</div>
              {% endif %}
            </div>
          </div>
					<hr>


					<div class="form-group">
						<label class="col-sm-3 control-label">{{ entry_items }}</label>
						<div class="col-sm-9 form-inline">
							<input type="number" name="items" value="{{ items }}" class="form-control">
						</div>
					</div>
					<hr>
					<div class="form-group">
						<label class="col-sm-3 control-label">
							{{ entry_items_responsive }}
						</label>
						<div class="col-sm-9">
							<table id="breakpoints">
								{% set breakpoint_row = 1 %}
								{% for responsive_item in responsive_items %}
								<tr id="breakpoint-{{ breakpoint_row }}">
									<td><input type="number" name="responsive_items[{{ breakpoint_row }}][breakpoint]" value="{{ responsive_item.breakpoint }}" class="form-control mb-2" placeholder="{{ entry_breakpoint }}"></td>
									<td>&nbsp;⇢&nbsp;</td>
									<td><input type="number" name="responsive_items[{{ breakpoint_row }}][amount]" value="{{ responsive_item.amount }}" class="form-control mb-2" placeholder="{{ entry_breakpoint_items }}"></td>
									<td>&nbsp;</td>
									<td>
										<button type="button" class="btn btn-default mb-2" onclick="removeBreakpoint('#breakpoint-{{ breakpoint_row }}')">
											<svg class="btn-just-icon text-danger" width="18" height="18" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
												<path d="M19 13H5v-2h14v2z"/>
											</svg>
										</button>
									</td>
								</tr>
								{% set breakpoint_row = breakpoint_row + 1 %}
								{% endfor %}
							</table>
							<button type="button" class="btn btn-default" onclick="addBreakpoint()">
								<svg class="btn-left-icon" width="18" height="18" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
									<path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
								</svg>
								{{ entry_breakpoint_add }}
							</button>


							<script>
								var breakpoint_row = {{ breakpoint_row }};

								function addBreakpoint() {

									breakpoint_content  = '<tr id="breakpoint-' + breakpoint_row + '"  class="new-breakpoint">';
									breakpoint_content += '  <td>';
									breakpoint_content += '    <input type="number" name="responsive_items[' + breakpoint_row + '][breakpoint]" value="" class="form-control mb-2" placeholder="{{ entry_breakpoint }}">';
									breakpoint_content += '  </td>';
									breakpoint_content += '  <td>&nbsp;⇢&nbsp;</td>';
									breakpoint_content += '  <td>';
									breakpoint_content += '  <input type="number" name="responsive_items[' + breakpoint_row + '][amount]" value="" class="form-control mb-2" placeholder="{{ entry_breakpoint_items }}">';
									breakpoint_content += '  </td>';
									breakpoint_content += '  <td>&nbsp;</td>';
									breakpoint_content += '  <td>';
									breakpoint_content += '    <button type="button" class="btn btn-default mb-2" onclick="removeBreakpoint(\'#breakpoint-' + breakpoint_row + '\')">';
									breakpoint_content += '      <svg class="btn-just-icon text-danger" width="18" height="18" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M19 13H5v-2h14v2z"/></svg>';
									breakpoint_content += '    </button>';
									breakpoint_content += '  </td>';
									breakpoint_content += '</tr>';

									$('#breakpoints').append(breakpoint_content)

									breakpoint_row++;
								}

								function removeBreakpoint(id) {
									$(id).remove();
								}
							</script>

						</div>
					</div>
					<hr>

					<div class="form-group">
						<label class="col-md-3 control-label">{{ entry_controls }}</label>
						<div class="col-md-9">
							<div class="" data-toggle="buttons">
								<label class="btn btn-default  {% if 'pagination' in controls %} active{% endif %}">
									<input type="checkbox" name="controls[]" value="pagination" {% if 'pagination' in controls %}checked{% endif %}>
									{{ text_pagination }}
								</label>
								<label class="btn btn-default {% if 'arrows' in controls %}active{% endif %}">
									<input type="checkbox" name="controls[]" value="arrows" {% if 'arrows' in controls %}checked{% endif %}>
									{{ text_arrows }}
								</label>
							</div>
						</div>
					</div>
					<hr>
					<div class="form-group">
						<label class="col-md-3 control-label">{{ entry_autoplay }}</label>
						<div class="col-md-9">
							<div class="btn-group" data-toggle="buttons">
								<label class="btn btn-default {% if not autoplay %} active {% endif %}" >
									<input type="radio" name="autoplay" value="0" {% if not autoplay %} checked {% endif %}>
									<span class="on-off">{{ text_no }}</span>
								</label>
								<label class="btn btn-default {% if autoplay %} active {% endif %}">
									<input type="radio" name="autoplay" value="1" {% if autoplay %} checked {% endif %}>
									<span class="on-off">{{ text_yes }}</span>
								</label>
							</div>

							<div class="h-row-wrapper form-inline">
								<div id="autoplay-speed" class="collapse fade {% if autoplay %}in{% endif %}">
									<div class="pt-2">
										<input type="number" name="autoplay_speed" value="{{ autoplay_speed }}" class="form-control" placeholder="{{ entry_autoplay_speed }}" /> {{ text_ms }}
									</div>
								</div>
								<script>
									$('[name=autoplay]').parent().click(function(e) {
										setTimeout( () => {
											if ($(this).find('[value=1]').prop('checked')) {
												$('#autoplay-speed').collapse('show');
											} else {
												$('#autoplay-speed').collapse('hide');
											}
										}, 100)
									})
								</script>
							</div>
						</div>
					</div>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('input[name=\'article_name\']').autocomplete({
  source: function(request, response) {
    $.ajax({
      url: 'index.php?route=blog/article/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
      dataType: 'json',
      success: function(json) {
        response($.map(json, function(item) {
          return {
            label: item['name'],
            value: item['article_id']
          }
        }));
      }
    });
  },
  select: function(item) {
    $('input[name=\'article_name\']').val('');

    $('#blog_featured-article' + item['value']).remove();

    $('#blog_featured-article').append('<div class="new-item" id="blog_featured-article' + item['value'] + '"><svg class="text-danger" width="14" height="14" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M7 11v2h10v-2H7zm5-9C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/></svg> ' + item['label'] + '<hr><input type="hidden" name="article[]" value="' + item['value'] + '" /></div>');

		$('#blog_featured-article:last-child').animate({ scrollTop: $(this).parent().innerHeight() }, 200);
  }
  });

  $('#blog_featured-article').delegate('svg', 'click', function() {
  $(this).parent().remove();
  });
</script>
{% if apply_button %}
<script type="text/javascript">
	function apply(){
		$(".alert").remove();
		$.ajax({
			type: "post",
			url: $("#form-module").attr('action'),
			data: $("#form-module").serialize(),
			dataType: 'html',
			beforeSend: function() {
				$('body').addClass('loading');
				$('.control-btns .btn').addClass('disabled');
			},
			success: function(html) {
				var $href = $(html).find(".well [selected=\"selected\"]").val();
				if ($href) {
					$.ajax({
						type: "post",
						url: $href,
						data: '',
						dataType: 'html',
						success: function(html) {
							var $success = $(html).find('.alert-success, .alert-danger');
							if ($success.length > 0) {
								$('.panel-default').before($success);
								$('body').removeClass('loading');
								$('.control-btns .btn').removeClass('disabled');
							}
						}
					});

					$('.has-error .text-danger').remove();
					$('.has-error').removeClass('has-error');
				} else {
					var $success = $(html).find('.alert-success, .alert-danger'),
							$content = $(html).find('.panel-default').html();

					if ($success.length > 0) {
						$('.panel-default').before($success);
					} else {
						$('.panel-default').html($content);
					}

					$('body').removeClass('loading');
					$('.control-btns .btn').removeClass('disabled');
				}
			}
		});
	}
</script>
{% endif %}
{{ footer }}
